
<div class="registrationContainer">
  <div  class="registrationContainer-cover">
    <%= image_tag("cover-login.png") %>
  </div>
  <div class="registrationContainer-form">
    <%= link_to root_path do %>
      <%= image_tag("mun_logo.svg") %>
    <% end %>
    <h2>¿Olvidaste tu contraseña?</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar instrucciones", class: 'button-orange'%>
      </div>
    <% end %>

    <br>
    <%= render "devise/shared/links" %>
  </div>

</div>