<nav class="navbar">
  <%= link_to 'Clases', payments_new_path, class: 'button-white' %>
  <%= link_to root_path do %>
    <%= image_tag("mun_logo.svg") %>
  <% end %>
  <% if current_user %>
    <%= link_to "Calendario", calendario_path, class: 'button-white' %>
    <%= link_to "Mis Reservas", reservations_path, class: 'button-white' %>
    <%= link_to "Mi Cuenta", edit_user_registration_path, class: 'button-orange' %>
  <% else %>
    <%= link_to 'Iniciar sesión', new_user_session_path, class: 'button-green' %>
  <% end %>
</nav>
