<nav class="navbar-home">
  <%= link_to 'Clases', payments_new_path, class: 'button-white' %>
  <%= link_to root_path do %>
    <%= image_tag("mun_logo.svg") %>
  <% end %>
  <% if current_user %>
    <%= link_to "Mi Cuenta", edit_user_registration_path, class: 'button-orange'  %>
  <% else %>
    <%= link_to 'Iniciar sesión', new_user_session_path, class: 'button-green' %>
  <% end %>
</nav>
<div class="containerPrices">
    <h2>Planes y precios </h2>
    <br>
    <p class="button-orange-width">No necesitas hacer reservación previa para nuestras clases. Solo llega con tiempo, elige tu espacio y disfruta de tu práctica. Recuerda que tu plan tiene una vigencia de 30 días a partir de la fecha de pago.</p>
    <br>
    <%= image_tag("lotus.svg") %>
    <div class="container containerPrices-grid">
        <div class="containerPrices-item">
            <h2>1 Clase</h2>
            <br>
            <p>$280</p>
            <br>
            <% if user_signed_in? %>
                <%= button_to 'Comprar Clase', payments_create_path(plan_id: 'price_1QZZYoBLJNSq80FfONF7Ky7a'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
            <% else %>
                <%= link_to 'Inicia sesión para comprar', new_user_registration_path, class: 'button-orange' %>
            <% end %>
        </div>
        <div class="containerPrices-item">
            <h2>4 Clases</h2>
            <br>
            <p>$1,100</p>
            <br>
            <% if user_signed_in? %>
                <%= button_to 'Comprar Clases', payments_create_path(plan_id: 'price_1Q17JCBLJNSq80FfbnmUr55a'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
            <% else %>
                <%= link_to 'Inicia sesión para comprar', new_user_registration_path, class: 'button-orange' %>
            <% end %>
        </div>
        <div class="containerPrices-item">
            <h2>8 Clases</h2>
            <br>
            <p>$1,500</p>
            <br>
            <% if user_signed_in? %>
                <%= button_to 'Comprar Clases', payments_create_path(plan_id: 'price_1Q17JCBLJNSq80Ff9Z1B7esg'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
                <br>
                <%= button_to 'Pago Recurrente', payments_create_path(plan_id: 'price_1R1tZGBLJNSq80Ff7krJ3z7p'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
            <% else %>
                <%= link_to 'Inicia sesión para comprar', new_user_registration_path, class: 'button-orange' %>
            <% end %>
        </div>
        <div class="containerPrices-item">
            <h2>12 Clases</h2>
            <br>
            <p>$1,950</p>
            <br>
            <% if user_signed_in? %>
                <%= button_to 'Comprar Clases', payments_create_path(plan_id: 'price_1Q17JCBLJNSq80Ff9gWMLUIn'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
                <br>
                <%= button_to 'Pago Recurrente', payments_create_path(plan_id: 'price_1R1tZoBLJNSq80FfKCsxQnDe'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
            <% else %>
                <%= link_to 'Inicia sesión para comprar', new_user_registration_path, class: 'button-orange' %>
            <% end %>
        </div>
        <div class="containerPrices-item">
            <h2>Ilimitado</h2>
            <br>
            <p>$2,300</p>
            <br>
            <% if user_signed_in? %>
                <%= button_to 'Comprar Clases', payments_create_path(plan_id: 'price_1R1FvZBLJNSq80FfCXbatnzQ'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
                <br>
                <%= button_to 'Pago Recurrente', payments_create_path(plan_id: 'price_1R1tZoBLJNSq80FfKCsxQnDe'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
            <% else %>
                <%= link_to 'Inicia sesión para comprar', new_user_registration_path, class: 'button-orange' %>
            <% end %>
        </div>
        <div class="containerPrices-item">
            <h2>Ilimitado + nutrición</h2>
            <br>
            <p>$2,600</p>
            <br>
            <% if user_signed_in? %>
                <%= button_to 'Comprar Plan', payments_create_path(plan_id: 'price_1R1FyTBLJNSq80FfFRhTtDWV'), method: :post, remote: true, data: { turbo: false }, class: 'button-orange' %>
            <% else %>
                <%= link_to 'Inicia sesión para comprar', new_user_registration_path, class: 'button-orange' %>
            <% end %>
        </div>
    </div>
</div>